<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learncity.learncity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.learncity.LearnCityApplication">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAREL6F44Hgwt4G1DqivXBLG2uiJIm0hrs" />

        <activity
            android:name="com.learncity.generic.learner.main.SplashScreen1ActivityVer3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.learncity.generic.learner.account.create.NewAccountCreationActivityVer4"/>
        <activity android:name="com.learncity.generic.learner.account.create.LoginActivity"/>
        <activity android:name="com.learncity.generic.learner.account.create.SignUpActivity"/>

        <activity
            android:name="com.learncity.learner.main.LearnerHomeActivity"/>
        <activity
            android:name="com.learncity.tutor.main.TutorHomeActivity"/>

        <activity android:name="com.learncity.learner.search.SearchActivityVer1" />
        <activity android:name="com.learncity.learner.search.SearchResultsActivity"/>
        <activity android:name="com.learncity.learner.account.profile.MyProfileActivity" />
        <activity android:name="com.learncity.tutor.account.profile.MyProfileActivity"/>


        <!--SERVICES-->
        <service android:name="com.learncity.learner.search.SearchService"
            android:exported="false"/>
    </application>

</manifest>