<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learncity.learncity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.learncity.LearnCityApplication">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAREL6F44Hgwt4G1DqivXBLG2uiJIm0hrs" />

        <activity android:name="com.learncity.generic.learner.main.SplashScreen1ActivityVer1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.learncity.generic.learner.account.create.SignUpWithGoogleAccountActivityVer2"/>
        <activity android:name="com.learncity.generic.learner.account.create.NewAccountCreationActivityVer2"/>
        <activity android:name="com.learncity.generic.learner.account.create.SignUpWithEmailActivityVer2"/>
        <activity android:name="com.learncity.learner.main.LearnerHomeActivity" />
        <activity android:name="com.learncity.tutor.main.TutorHomeActivity" />
        <activity android:name="com.learncity.learner.search.SearchActivity" />
        <activity android:name="com.learncity.learner.account.profile.MyProfileActivity" />
    </application>

</manifest>